* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Cores do tema claro */
    --container-background: #1b1e34;
    --background-color: #ffffff; /* branco */
    --text-color: #000000; /* cinza escuro */
    --bot-text: #333333;
    --link-color: #1a0dab; /* azul */
    --button-background: #f0f0f0; /* cinza muito claro */
    --button-hover: #f1f1ff; /* cinza claro para hover */
    --button-send: #1D2142;
    --thinking: #111325;
    --chat-color: #e2e4f3;
    --scroll-bar: #c0c0c8;
    --item-color: #666;
    --border:#1D2142;
    --input-bar: #696e94;
    --btn-sidebar: #fff;
}

.dark-mode {
    /* Cores do tema escuro */
    --container-background: #0c0d18;
    --background-color: #121212; /* fundo escuro */
    --text-color: #e0e0e0; /* texto claro */
    --bot-text: #fff;
    --link-color: #8ab4f8; /* azul claro */
    --button-background: #1d1d1d; /* botão escuro */
    --button-hover: #272727; /* botão escuro mais claro para hover */
    --button-send: #545ca7;
    --thinking: #7280fa;
    --chat-color: #1d1d1d;
    --scroll-bar: #1d1d1d;
    --item-color: #666;
    --input-bar: #525aa3;
    --border:#525aa3;
    --btn-sidebar: #8b8b8b;
}

/* var(--thinking) */


body {
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--background-color);
    height: 100vh;
}

p1 {
    font-size: 3.2vw;
    font-weight: lighter;
}

.container {
    display: flex;
    height: 100vh;
    background-color: var(--container-background);
}

.menu-item {
    width: 40px;
    height: 40px;
    background-color: #555;
    border-radius: 8px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text-color);
    font-size: 24px;
}

.menu-item i {
    font-size: 24px;
}

.chat-list {
    overflow-y: auto;
    max-height: 85vh;
    padding-right: 10px;
    scrollbar-width: thin; /* Para Firefox */
    scrollbar-color: #1b1e34 transparent; /* Para Firefox */
}

/* Para navegadores baseados em WebKit (Chrome, Edge, Safari) */
.chat-list::-webkit-scrollbar {
    width: 10px; /* Define a largura do scrollbar */
}

.chat-list::-webkit-scrollbar-track {
    background-color: transparent; /* Deixa o track transparente */
}

.chat-list::-webkit-scrollbar-thumb {
    background-color: #1b1e34; /* Cor da barra de rolagem (thumb) */
    border-radius: 20px; /* Arredondamento da barra */
    border: 3px solid rgba(0, 0, 0, 0); /* Espaçamento transparente */
}

.chat-list::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* Cor ao passar o mouse */
}

/* Aumentar a compatibilidade para o Edge */
.chat-list::-ms-scrollbar {
    width: 10px;
}

.chat-list::-ms-scrollbar-track {
    background-color: transparent;
}

.chat-list::-ms-scrollbar-thumb {
    background-color: #1b1e34;
    border-radius: 20px;
}

.chat-list::-ms-scrollbar-thumb:hover {
    background-color: #555;
}

.chat-area { /* Histórico de Chats */
    flex: 0.4;
    background-color: var(--background-color);
    padding: 20px;
    padding-top: 35px;  
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 73px;
    margin-bottom: 15px;
}

.chat-header {
    margin-bottom: 20px;
}

.chat-header p1 {
    font-size: 40px;
    color: var(--text-color);
    margin-bottom: 10px;
}

.search-bar {   
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.search-bar input {
    padding: 0.8vw;
    border: 0.5px solid var(--border); /* #ccc; */
    border-radius: 12px;
    outline: none;
    font-size: 17px;
    flex: 1;
    background: var(--background-color);
    color: var(--text-color);
}

.search-bar button {
    padding: 0.52vw;
    background-color: var(--background-color);
    border: 0.5px solid var(--border); /* #ccc; */
    /*color: #FFFFFF;*/
    border-radius: 12px;
    cursor: pointer;
    margin-left: 0.4vw;
}

button .icon-path {
    fill: var(--border); /* Usa a variável definida no tema */
}

.logout .icon-path {
    fill: var(--btn-sidebar); /* Usa a variável definida no tema */
}

.home .icon-path {
    fill: var(--btn-sidebar); /* Usa a variável definida no tema */
}

.bars .icon-path {
    fill: var(--btn-sidebar); /* Usa a variável definida no tema */
}


.chat-list {
    overflow-y: auto;
    max-height: 85vh;
    padding-right: 10px;
    scrollbar-width: thin;
    scrollbar-color: var(--border) var(--scroll-bar);
}

.chat-item {
    padding: 20px;
    cursor: pointer;
    border-radius: 12px;
    margin-bottom: 15px;
    position: relative;
    background-color: var(--button-background);
    max-height: 150vh;  
    min-height: 19vh; /* Define uma altura mínima maior para o chat */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
    border-radius: 8px; /* (Opcional) para cantos arredondados */
    transition: background-color 0.3s ease, transform 0.1s ease;
}

.chat-item:hover {
    padding: 20px;
    transform: translateY(-2px); /* Movimento suave ao passar o mouse */
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1); /* Sombra leve */
    background-color: var(--button-hover);
}

.chat-item:active {
    transform: translateY(0); /* Volta à posição original ao clicar */
}

.chat-item h2 {
    margin-bottom: 5px;
    font-size: 18px;
    color: var(--text-color);
}

.chat-item p {
    font-size: 14px;
    color: var(--item-color);

}

.chat-item .date {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 12px;
    color: #aaa;
}

.chat-item.blue { border-left: 28px solid #0067BF;}
.chat-item.red { border-left: 28px solid #CC0000; }
.chat-item.orange { border-left: 28px solid #DD4814; }
.chat-item.green { border-left: 28px solid #02D35F; }


/*  PARTE CSS DO CHAT */

.chatbot-popup {
    flex: 0.58;
    background-color: var(--background-color);
    padding: 10px;  
    display: flex;
    flex-direction: column;
    border-radius: 0px 13px 13px 0px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-top: 73px;
    margin-bottom: 15px;
    /* Removi o height */
}

.chat-body {
    padding: 25px 5px;
    width: 100%;
    display: flex;
    gap: 20px;
    flex: 1; /* Aumenta a flexibilidade */
    margin-bottom: 10px; /* Espaço entre as mensagens e a barra de entrada */
    overflow-y: auto; /* Permite rolagem */
    flex-direction: column;
    justify-content: flex-start; /* Garante que as mensagens fiquem na parte superior */
    scrollbar-width: thin;
    scrollbar-color: var(--border) var(--scroll-bar);
}

.chat-body .message {
    display: flex;
    gap: 11px;
    align-items: center;
}

.chat-body .user-message {
    flex-direction: column;
    align-items: flex-end;
}

.chat-body .message .message-text {
    padding: 12px 16px;
    max-width: 75%;
    background: var(--background-color);

}

.chat-body .bot-message.thinking .message-text {
    padding: 2px 16px;
}

.chat-body .bot-message .message-text {
    color: var(--bot-text);
    background: var(--chat-color);
    border-radius: 13px 13px 13px 3px;
    white-space: pre-wrap;
}

/* ESTILIZAÇÃO DO TEXTO */
.chat-body .bot-message .title {
    font-size: 1.5em; /* Tamanho grande para o título */
    font-weight: bold; /* Negrito */
    margin-bottom: 10px; /* Espaço abaixo do título */
    color: var(); /* Cor do título */
}

.chat-body .bot-message .subtitle {
    font-size: 1.2em; /* Tamanho médio para o subtítulo */
    font-weight: bold; /* Negrito */
    margin-bottom: 8px; /* Espaço abaixo do subtítulo */
    color: #555; /* Cor do subtítulo */
}

.chat-body .bot-message .message-text {
    color: var(--bot-text);
    background: var(--chat-color);
    border-radius: 13px 13px 13px 3px;
    white-space: pre-wrap;
    margin-bottom: 10px; /* Espaçamento entre as mensagens */
}

pre {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
}

code {
    background-color: #272727;
    color: #ffffff;
    padding: 2px 6px;
    border-radius: 3px;
}

.chat-body pre {
    background-color: #272727; /* Cor de fundo suave */
    border: 1px solid #ddd; /* Borda leve */
    border-radius: 4px; /* Arredondar bordas */
    padding: 10px; 
    overflow-x: auto; 
    color: #333; 
    font-family: 'Courier New', Courier, monospace; 
}

/* Estilo para o código inline */
.chat-body code {
    padding: 2px 4px; /* Espaçamento interno */
    border-radius: 3px; /* Bordas arredondadas */
    color: #c0c0c0; /* Cor do texto para código inline */
}

/* FIM ESTILIZAÇÃO */


.chat-body .user-message .message-text {
    color: #fff;
    background: var(--button-send);
    border-radius: 13px 13px 3px 13px;
}

.chat-body .bot-message .thinking-indicator {
    display: flex;
    gap: 4px;
    padding-block: 10px;
}

.chat-body .bot-message .thinking-indicator .dot {
    height: 7px;
    width: 7px;
    opacity: 0.7;
    border-radius: 50%;
    background: var(--thinking);
    animation: dotPulse 1.8s ease-in-out infinite;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(1) {
    animation-delay: 0.2;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(2) {
    animation-delay: 0.3;
}

.chat-body .bot-message .thinking-indicator .dot:nth-child(3) {
    animation-delay: 0.4;
}

@keyframes dotPulse {
    0%, 44% {
        transform: translateY(0);
    }

    28% {
        opacity: 0.4;
        transform: translateY(-4px);
    }

    44% {
        opacity: 0.2;
    }
    
}

.chat-footer {
    width: 100%;
    background: var(--background-color);
    padding: 15px 22px 20px;
    position: relative; /* Para manter a posição do footer */
}

.chat-footer .chat-form {
    display: flex;
    align-items: center;
    background: var(--background-color);
    border-radius: 10px;
    outline: 1.3px solid var(--input-bar);
}

.chat-footer .chat-form:focus-within {
    outline: 1.9px solid #1D2142
}

.chat-form .message-input {
    border: none;
    outline: none;
    height: 47px;
    width: 100%;
    resize: none;
    font-size: 0.94rem;
    padding: 14px 0 13px 18px;
    border-radius: inherit;
    background-color: var(--background-color);
    color: var(--bot-text);
}

.chat-form .chat-controls {
    display: flex;
    height: 47px;
    align-items: center;
    align-self: flex-end;
    padding-right: 6px;
}

.enviar .icon-path {
    fill: var(--border);
}

.chat-form .chat-controls button {
    height: 33px;
    width: 33px;
    border: none;
    font-size: 1.15rem;
    cursor: pointer;
    color: var(--button-send);
    background: none;
    border-radius: 20%;
    transition: 0.2s ease;
}

.chat-form .chat-controls #send-message {
    background: none;
    display: none;
    transition: 0.4s ease-in-out;
}

.chat-form .message-input:valid~.chat-controls #send-message {
    display:block;
}

.chat-form .chat-controls #send-message:hover {
    background: var(--button-hover);
}

.chat-form .chat-controls button:hover {
    background: var(--button-hover);
}



/* FIM CHATS */


.sidebar {
    width: 74px; /* Largura da barra lateral */
    /*background-color: #1b1e34; /* Cor de fundo azul escuro */
    padding-top: 20px;
    display: flex;
    flex-direction: column; /* Disposição vertical dos botões */
    align-items: flex-start;
    justify-content: flex-start; /* Distribui os botões proporcionalmente */
    align-items: center;
    height: 100vh; /* Ocupa toda a altura da tela */
}

.sidebar-button {   
    /* width: 2.083vw; /* Largura do botão */
    /* height: 4vh; /* Altura do botão */

    min-width: 40px;
    min-height: 40px;

    background-color: var(--container-background); /* Cor de fundo do botão */
    border: none; /* Remove bordas padrão */
    border-radius: 7px; /* Cantos arredondados */
    margin-bottom: 20px; /* Espaço entre os botões */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease; /* Animação de cor e movimento */
    /*box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}


.sidebar-button i {
    font-size: 24px; /* Tamanho do ícone */
    color: #1b1e34; /* Cor do ícone */
}

.sidebar-button:hover {
    transform: translateY(-3px); /* Movimento suave ao passar o mouse */
}

.sidebar-button:active {
    background-color: #1b1e34; /* Cor ao clicar */
    transform: translateY(0); /* Volta à posição original ao clicar */
}

.bars {
    margin-bottom: 16.69vh;
}

.home {
    margin-bottom: 27vh;
}

.plus {
    background-color: #ffffff; /* Fundo branco */
    color: #1b1e34; /* Cor do ícone escura para contraste */
    margin-bottom: 3.33vh;
}

.plus i {
    color: #1b1e34; /* Ícone com cor mais escura */
}

#userProfilePicture {
    width: 35px; /* Defina a largura desejada */
    height: 35px; /* Defina a altura desejada */
    border-radius: 50%; /* Para torná-la circular */
    object-fit: cover; /* Para cobrir a área da imagem */
}


.plus:hover {
    background-color: #f0f0f0;
    box-shadow: 0 0 15px 3px rgba(255, 255, 255, 0.8);
    transform: translateY(-1px);
}

.plus:active {
    background-color: #cccccc;
    transform: translateY(0);
}

.user {
    margin-bottom: 4vh;
}

.theme {
    margin-bottom: 4vh;

}

.logo {
    position: fixed;
    /*top: 17px;
    right: 27px;
    width: 55px;*/

    top: 2.20vh;
    right: 1.97vw;
    width: 3.5vw;

}

.image-container {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Escurecendo a imagem */
    display: none; /* Oculto por padrão */
}

.dark-mode .overlay {
    display: block; /* Mostra no modo escuro */
}

.light-mode .overlay {
    display: none; /* Esconde no modo claro */
}