body {
            background: url('../imagens/linhasbackground.svg') no-repeat center center,
            linear-gradient(to bottom right, #21235F, #B36360);
            background-attachment: fixed;
            background-size: cover, cover;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
            font-family: 'Ubuntu', sans-serif;
        }

        .container {
            text-align: center;
        }

        /* PARTE DE CONFIGURAÇÃO DO CARD */

        .card {
    position: fixed;
    top: 85px; /* Distância de 30 pixels do topo */
    bottom: 85px;
    right: -100%; /* O card começa fora da tela */
    background-color: #D9D9D9;
    border-top-left-radius: 45px; /* Canto superior esquerdo */
    border-bottom-left-radius: 45px; /* Canto inferior esquerdo */
    padding: 5vw;
    width: 60vw;
    height: auto; /* Altura automática para o conteúdo */
    max-height: calc(100vh - 60px); /* Limita a altura máxima respeitando os 30 pixels do topo e 30 pixels da base */
    overflow-y: auto; /* Permite rolagem vertical se o conteúdo ultrapassar a altura máxima */
    transition: right 1.3s ease-out; /* Animação suave para o card */
    font-family: 'Ubuntu', sans-serif;
    text-align: center;

    max-width: 90vw;

    display: flex; /* Habilita o Flexbox */
    flex-direction: column; /* Organiza os itens em coluna */
    justify-content: center; /* Centraliza verticalmente */
    align-items: center; /* Centraliza horizontalmente */
}

        .card-icon {
            position: absolute;
            left: 3vw; /* Espaçamento da borda esquerda */
            top: 50%;
            transform: translateY(-50%); /* Centraliza verticalmente */
            width: 1vw; /* Ajuste o tamanho do ícone */
            height: auto;
        }

        .card.show {
            right: 0.1%; /* Quando o card é exibido */
        }

        /* PARTE DE BOTAO ENTRAR E CONHECER */

        .card-button, .card-button2 {
            font-size: 2vw; /* Mantém o tamanho da fonte relativo */
            padding: 0.7vw 5.5vw; /* O padding é dinâmico com base na largura da viewport */
            margin-right: 2vw; /* Ajusta a margem com base na largura da viewport */
            border-radius: 1vw; /* O raio da borda também é dinâmico */
            transition: box-shadow 0.25s, padding 0.25s; /* Transição suave para o padding */
            display: inline-block;
            margin-right: 2vw;
            font-family: 'Ubuntu', sans-serif;
            cursor: pointer;
            border: none;
            transition: box-shadow 0.25s, padding 0.25s;
            font-weight: normal;
        }

        .card-button {
            background-color: #1F203F;
            color: #D9D9D9;
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
            transition: background-color 0.3s ease;
        }

        .card-button:hover {
            background-color:#1A1B35;
            color: #c0c0c0;
        }

        .card-button2 {
            background-color: #B0B0B0;
            color: #D9D9D9;
            box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.25);
            transition: background-color 0.3s ease;
        }

        .card-button2:hover {
            background-color:#949494;
            color: #c0c0c0;
        }

        .card-button:disabled {
            background-color: #D2D2D2;
            color: #1F203F;
            cursor: not-allowed;
        }

        .button-main {
            background-color: #D2D2D2;
            border: none;
            border-radius: 15px;
            color: #1F203F;
            cursor: pointer;
            font-size: 16px;
            padding: 10px 20px;
            width: 124px;
            height: 30px;
            box-shadow: 0px 0px 0px 0px white;
            background-image: url('../imagens/seta_vetor.svg');
            background-size: 16px 16px;
            background-position: center;
            background-repeat: no-repeat;

        }



        .button-main:hover {
            box-shadow: 0px 0px 10px 0.2px white;
        }


        .button-wrapper {
    display: flex; /* Flexbox para o wrapper dos botões */
    flex-direction: row; /* Alinha os botões na horizontal */
    justify-content: center; /* Centraliza os botões horizontalmente */
    margin-top: 4vw; /* Espaço acima dos botões */
        }


        .button-wrapper2 {
    display: flex;
    flex-direction: column; /* Alinha os botões em coluna (um abaixo do outro) */
    align-items: center; /* Centraliza os botões horizontalmente */
    }

        .bold-text {
            font-weight: bold;
        }

        h1 {
            font-size: 3vw;
            color: #000000;
            margin-bottom: 3vw;
            margin-top: 0;
            font-weight: 700;
            text-align: center;  
        }

        h5{
            position: absolute;
            font-size: 3vw;
            color: #000000;
            margin-bottom: 25vw;
            margin-top: 0;
            font-weight: 700;
            text-align: center;  
        }

        p3 {
            font-size: 2.2vw;
            color: #000000;
            margin-bottom: 2vw;
            margin-top: 0;
        }

        p1 {
            font-size: 5vw;
            color: #D2D2D2;
            margin-bottom: 100vw;
            margin-top: 0;
        }

        p {
            font-size: 1.5vw;
            color: #D2D2D2;
            margin-bottom: 1.7vw;
            margin-top: 0;
            max-width: 40vw; /* Limita a largura máxima do parágrafo */
            word-wrap: break-word; /* Faz o texto quebrar dentro do limite */
            line-height: 1.4; /* Ajusta o espaçamento entre as linhas */
            text-align: justify; /* Para melhor formatação do texto */
        }
        #title, #subtitle, #showCardBtn {
            transition: opacity 1.1s; /* add transition to opacity */
        }

        .hide {
            opacity: 0; /* add class to hide elements */
        }

        /* Novo estilo para o título que vai aparecer à esquerda */
        #left-title {
            position: fixed;
            top: 40vh;
            left: 5vw;
            font-size: 5vw;
            color: white;
            font-weight: normal;
            transition: left 1.1s ease-out;
            opacity: 0;
        }

        #left-title.show {
            left: 5vw;
            transition: opacity 1.9s;
            opacity: 1;

        }

        #left-title.hide {
            left: 5vw;
            transition: opacity 0.4s;
            opacity: 0;

        }


        /* PARTE DE BOTAO LOGIN GOOGLE E FACE */
        .login-button {
            background-color: #1F203F;
            border: none;
            border-radius: 1vw; /* Raio da borda dinâmico */
            color: #1F203F;
            cursor: pointer;
            font-size: 1.5vw; /* Tamanho da fonte responsivo */
            padding: 1.5vw 3vw; /* Ajuste dinâmico para padding */
            margin: 15px;
            box-shadow: 0vw 0.5vw 0.6vw 0vw rgba(31, 32, 63, 0.25);
            transition: box-shadow 0.25s;
            font-weight: normal;
            width: 30vw; /* Largura proporcional ao viewport */
            height: 8vh; /* Altura proporcional ao viewport */
            display: flex; /* Flexbox para alinhamento do conteúdo */
            align-items: center; /* Alinha verticalmente o conteúdo */
            justify-content: center; /* Centraliza o texto */
            position: relative; /* Permite que o ícone fique fixo no canto */
            text-align: center; /* Centraliza o texto dentro do botão */
            display: flex;
            justify-content: flex-start;
        }



        .login-button img.icon {
            width: 2vw; /* Largura proporcional à largura do viewport */
            height: auto; /* Manter a proporção original da imagem */
            position: absolute;
            left: 2vw; /* Posição dinâmica em relação ao viewport */
        }

        .login-button.facebook {
            background-color: #3B5998; /* Cor do Facebook */
            color: #D9D9D9;
            transition: background-color 0.3s ease;
        }

        .login-button.facebook:hover {
            background-color: #273c66;
        }

        /* Botão genérico de login (sem ícone Google) */
        .login-button {
            background-color: #1F203F;
            color: #FFFFFF;
        }

        span{
            font-weight: bold;
        }

        .login-button.facebook, .login-button.google {
            display: flex;
            align-items: center; /* Centraliza o conteúdo verticalmente */
            justify-content: center; /* Centraliza o conteúdo horizontalmente */
            padding-left: 4vw; /* Ajuste de padding para dar espaço ao ícone */
            gap: 0vw; /* Espaçamento entre o ícone e o texto */
        }

        .login-button .bold-text {
            margin-left: 0.5vw; /* Ajusta o espaço entre "com" e o texto em negrito */
        }

        .disabled {
    pointer-events: none; /* Desativa interações */
    opacity: 0.5; /* Adiciona um efeito visual para indicar que está desabilitado */
}